body {
  background-color: #888;
}

.columns {
  background-color: #fff;
  width: 90%;
  min-width: 600px;
  margin: 10px auto 10px auto;
  padding: 15px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

ul.radio-buttons {
  list-style-type: none;
}

div.field {
  margin: 20px;
}

label.primary {
  font-weight: bold;
  font-size: 120%;
}

label.secondary {
}

table.ratings {
  border-collapse: collapse;
  border-spacing: 0px;
}

table.ratings tr td {
  text-align: center;
}

tr.scores td {
  color: #555;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px;
}

.emphasis {
  font-weight: bold;
}
